/* Polices */
/* roboto-regular - latin */
@font-face {
    font-family: 'Robotoregular';
    src: url('fonts/roboto/Roboto-Regular.ttf') format('truetype');    
    font-weight: normal;
    font-style: normal;
  }  
  @font-face{
      font-family:'Shrikhand-Regular';
      src: url('fonts/shrikhand/Shrikhand-Regular.ttf') format('truetype');
      font-weight:bold;
      font-style:normal;
  }