/*form menu*/
form{
    @include background;
    padding-top:50px;
    width:100%;  
    
    fieldset{
        border:none;
        margin-bottom:40px;
        display:flex;
        flex-direction: column;
        padding:0;
        legend{
            font-size: x-large;            
            width:94%;
            margin: auto;
            margin-bottom: 20px;
            &::after{
                content: "";
                display: block;                
                width:60px;
                height: 8px;                
                border-bottom: 4px solid $color-tertiary;                
                
            }
        }        
        input[type=radio]{
            display: none;
        
        +label{
            box-shadow: 0px 4px 14px 5px rgb(219, 219, 219);
            background: white;
            height:auto;
            line-height:26px;
            width:94%;
            margin:auto;
            border-radius:20px;
            margin-bottom: 20px;
            font-size: large;
            position:relative;
            padding:12px;
            &:not(.price){                                        
                &:hover{
                    display: inline-block;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                } 
            }           
            .plat{
                font-size:x-large;
                font-weight:bold;
                display: inline-block; 
                width:80%;
            }
            p{
                width:80%;
                margin:0;
            }
            .price{
                position:absolute;
                right:30px;
                bottom:12px;
                font-weight: bold;
            }
            
        } 
    }       
    }
    input[type=submit].btn{
        @include btn;
        border:none;
        margin-bottom: 80px;
        display:block;  
        outline: none;     
    }
}