/*SECTION 3*/
.section3{
    display: flex;
    flex-direction:column;
    width:100%;
    @include background;      
    padding:70px 0 70px 0;
    &__title{
        font-size: xx-large;
        margin-top:0;
        margin-left:20px;
        font-weight:bold;
    }
    figure{
        position:relative;
        width:90%;
        border-radius: 20px;
        height:300px;
        box-shadow: 0px 4px 14px 5px rgb(219, 219, 219);
        margin:auto;
        margin-bottom:30px;
        img{
            height:75%;
            width:100%;
            border-radius:20px 20px 0 0;
            object-fit:cover;
            object-position:20% 60%;
        }
        figcaption{
            position:relative;
            display:flex;
            flex-direction:column;
            font-size:large;            
            background-color: #ffffff;
            width:100%;
            height:25%;
            padding:15px;
            padding-top:10px;
            border-radius:0 0 20px 20px;                
            .resto{
                font-weight: bold;
            }
            i{
                position:absolute;
                display:inline-block;
                top:35%;
                right:30px;                                      
            }
            .new{
                position:absolute;
                background-color: $color-tertiary;
                width:90px;
                height:40px;
                text-align:center;
                line-height: 6px;
                font-weight:bold;
                right:20px;
                top:-210px;
                color:darken($color-tertiary, 32%)                    
            }
        }
    }
    
}